*{margin:0; padding:0; box-sizing: border-box;}

body{
   background: fixed;
   background-image: url('../img/SL-100420-36140-29.jpg');
   background-repeat: no-repeat;
   background-size:cover;
   
   
}




.carousel-inner{
   box-shadow: 6px 10px 20px -3px rgba(0,0,0,0.69);
   -webkit-box-shadow: 6px 10px 20px -3px rgba(0,0,0,0.69);
   -moz-box-shadow: 6px 10px 20px -3px rgba(0,0,0,0.69);
}

.carousel-item img {
   width:100%;
   height: 300px;
   
}
.img-thumbnail, .presentacionMama h2, .presentacionPerritos, footer{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 6px 10px 20px -3px rgba(0,0,0,0.69);
    -webkit-box-shadow: 6px 10px 20px -3px rgba(0,0,0,0.69);
    -moz-box-shadow: 6px 10px 20px -3px rgba(0,0,0,0.69);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 3px solid;
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}

.presentacionMama img{
    width: 30%;
    margin: auto;
    border-radius: 20px;
}





.card{
   position: relative;
     padding: 0;
     /* margin: 10px !important; */
     border-radius: 20px;
     overflow: hidden;
     max-width: 280px;
     max-height: 340px;
     cursor: pointer;
     border: none;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
   
}
.card .card-image {
     width: 100%;     
     max-height: 340px
 }

  .card .card-image img {
     width: 100%;
     height:15em;
     
 }
 
 


.video-luna-container video{
    transform: rotate(-90deg);   
    cursor:default !important 
    
}
.mail{
    cursor:default !important
}


@media (max-width: 1090px) {
    .presentacionMama img{
    width: 80%;
    margin-bottom: 10px;
    border-radius: 20px;
}
}